@page "/Textarea"

@inject IJSRuntime JSRuntime;

<h3>Textarea</h3>

<textarea id="Blazorservertinymce1">Hello, World!</textarea>

<textarea id="Blazorservertinymce"  @bind=content @bind:event="oninput"></textarea>

@*<textarea id="Blazorservertinymce" @bind=content></textarea>*@

<div id="Blazorservertinymce"></div>

@code {

    private string content = "<p>Hello world  come from code</p>";


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
       // await Interop.InitializeTextEditor(JSRuntime);

        if (firstRender)
        {
           
       
            await JSRuntime.InvokeVoidAsync("blazeditorInit");
          //  _initialized = true;
        }
    }

}
