@page "/Textarea"

@inject IJSRuntime JSRuntime;

<h3>Textarea</h3>

<textarea id="Blazorservertinymce1">Hello, World!</textarea>



<div class="row">
    <div class="col-3">
        ooo

    </div>


    <div class="col-9">
        @*  <textarea id="Blazorservertinymce" class="form-control"
        @bind=Body
        @bind:event="onchange" >
        </textarea>*@
    </div>

    <textarea id="Blazorservertinymce" class="form-control"
              @bind-value="Body"
              @bind-value:event="oninput">
        </textarea>

</div>

@*<textarea id="Blazorservertinymce" @bind=content></textarea>*@

<div id="Blazorservertinymce"></div>



<div class="col-6">
    @Body
</div>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@code {



    //private string content = "<p>Hello world  come from code</p>";
    public string Body { get; set; } = "<p>Hello world  come from code</p>";


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // await Interop.InitializeTextEditor(JSRuntime);


        //come from https://github.com/tinymce/tinymce-blazor/blob/master/TinyMCE.Blazor/Editor.razor
        if (firstRender)
        {


            await JSRuntime.InvokeVoidAsync("blazeditorInit");
            //  _initialized = true;
        }
    }

    //By default, hooked up with TinyMce's oninput event;




    [JSInvokable("OnInput")]
    public void OnInput()
    {
        // Body = value;
    }


    [JSInvokable("textArea_OnChange")]
    public void Change(string value)
    {
        Body = value;
    }



    private  async Task IncrementCount()
    {
        
        Body= await JSRuntime.InvokeVoidAsync("blazeditorInit");
    }

}
