@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="/Index">building Index+vue2</a>.</p>
</div>


<div id="tinymcedemo">
</div>

<button onclick="content()">Get content</button>


// come from :https://juejin.cn/post/7133392287463112735
<script>
    var app = new Vue({
        el: '#tinymcedemo',
        data: {
            search: null,
            loading: true,
            errors: null,
        },

        // 获取iframe的Document 对象
        get iframeDocument() {
            const iframe = (document.querySelector('#tinymce_ifr'))
            const iframeDoc = iframe.contentDocument.querySelector('#tinymce')
            return iframeDoc
        },



            // https://dustinpfister.github.io/2019/11/11/vuejs-lifecycle-updated/
            //
            updated: function () {
            //this.figure()

            //只有data里的变量改变并且要在页面重新渲染完成之后,才会进updated生命周期，只改变data里的值但是没有再页面上渲染该值的话并不会触发updated方法。

            console.log('updated')
        },

        mounted() {
            this.init();
        },
        //ready: function () {
        //    this.getCustomers()
        //},
        methods: {
            init() {
                window.tinymce.init({
                    selector: "#tinymcedemo",
                    plugins: 'toc',
                    toolbar: 'toc',
                })
            }
      
        
        }
    })
</script>

@*JavaScript 获取 内容方式：*@
<script>
    var vmind = document.getElementById("searchTxt").value;

    function content() {
        alert(tinymce.activeEditor.getContent());
    }
</script>


