@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div id="tinymcedemo">
</div>

<button onclick="content()">Get content</button>


// come from :https://juejin.cn/post/7133392287463112735
<script>
    var vmindexapp = new Vue({
        el: '#tinymcedemo',
        data: {
            search: null,
            loading: true,
            errors: null,
        },
        mounted() {
            this.init();
        },
        //ready: function () {
        //    this.getCustomers()
        //},
        methods: {
            init() {
                window.tinymce.init({
                    selector: "#tinymcedemo"
                })
            }
        }
    })
</script>

@*JavaScript 获取 内容方式：*@
<script>
    var vmind = document.getElementById("searchTxt").value;

    function content() {
        alert(tinymce.activeEditor.getContent());
    }
</script>


