@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@section header
    {
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}

<p>Use this page to detail your site's privacy policy.</p>

@*https://dyclassroom.com/tinymce/how-to-set-data-to-tinymce-text-editor*@

<button id="set-data-btn">Set Data</button>

<button id="mceinserttoc-btn">mceInsertToc-btn</button>

<button id="mceupdatetoc-btn">mceUpdateToc-btn</button>


<form id="form-data" method="post">

    <textarea class="tinymce" id="texteditor"></textarea>
    <input type="submit" value="View Data">

</form>

<div id="data-container">
</div>

<script>
    tinymce.init({
        /* selector: 'textarea#Blazorservertinymce'*/
        selector: '#texteditor',
        plugins: [ //配置插件：填写要使用的插件名称，可自己随意选择，但如果是上传本地图片image和imagetools是必要的
            'link media image codesample code paste textcolor toc'
        ],
        toolbar: 'undo redo |  code codesample |toc link image | paste | bold |  formatselect | forecolor backcolor emoticons',
    });
</script>

<script>

    const iframe = (document.querySelector('#texteditor_ifr'))

    console.log('var iframe =:', iframe)

    const iframeDoc = iframe.contentDocument.querySelector('#tinymce')

    
    console.log('iframe')

</script>

@*作者：MZL
链接：https://juejin.cn/post/6868554933365374989
来源：稀土掘金
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
*@

<script type="text/javascript" src="/js/setdata.js"></script>